.widget
  .widget-title
    i(class='fa fa-music')= ' ' + __('music')
  //- link(rel="stylesheet", type='text/css', href="https://cdn.jsdelivr.net/npm/aplayer@1.10.1/dist/APlayer.min.css")
  //- script(type='text/javascript', src="https://cdn.jsdelivr.net/npm/aplayer@1.10.1/dist/APlayer.min.js")
  //- script(type='text/javascript', src="https://cdn.jsdelivr.net/npm/meting@2.0.1/dist/Meting.min.js")
  link(rel="stylesheet" type='text/css', href="https://cdn.jsdelivr.net/npm/aplayer@1.10.1/dist/APlayer.min.css")
  script(type='text/javascript', src="https://cdn.jsdelivr.net/npm/aplayer@1.10.1/dist/APlayer.min.js")
  script(type='text/javascript', src="https://cdn.jsdelivr.net/npm/meting@1.2/dist/Meting.min.js")
  
  div(style="display: table; text-align: left; width: 300px; margin-left: -20px", class="aplayer", data-id="688412923", data-server="netease", data-type="playlist", data-listmaxheight="300px", data-theme="#FF4081", data-autoplay="true", data-loop="all", data-order="random")
  